services:
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    command: uvicorn server:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - ./api:/app
    depends_on:
      - redis

  worker:
    build:
      context: ./worker
      dockerfile: Dockerfile
    command: python worker.py
    volumes:
      - ./worker:/worker
    depends_on:
      - redis
      - api

  nextjs:
    build:
      context: ./nextjs-app
      dockerfile: Dockerfile
    container_name: frontend
    restart: unless-stopped  
    ports:
      - "3000:3000"
    volumes:
      - ./nextjs-app:/app
    depends_on:
      - api

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"